.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(0,0,0,0.05);
    position: relative;
}

.home__wrapper{
    background-color: white;
    width: 50%;
    margin: 0 auto;
    left: 25%;
    border: 4px solid #e3e3e3;
}
.home__header{
    height: 100px;
    position: relative;
    padding: 10px;
    display: flex;
    font-weight: 600;
    font-size: 30px;
    border-bottom: 2px solid #e3e3e3;
}

.home__header > span{
    margin: 0;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
}

.home__select{
    padding: 10px;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    margin-left: auto;
}

.home__teamlist{
    margin: 0 10px;
    height: 30px;
}

.home__teamlist:hover{
    cursor: pointer;
    transform: scale(1.1);
    border-bottom: 2px solid #e3e3e3;
}

.action{
    border-bottom: 2px solid mediumseagreen;
}

.MuiFormControl-root{
    margin: 0 !important;
}

